* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 20% repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "sidebar header header"
                         "sidebar content content"
                         "sidebar content content";
    grid-auto-rows: 1fr;
    gap: 10px;
}

header {
    grid-area: header;
    background-color: aliceblue;

    display: grid;
    grid-template-columns: 100%;
    border-bottom: solid black 2px;
}

.sidebar {
    grid-area: sidebar;
    border: solid rgb(0, 34, 255) 2px;
}

.content {
    grid-area: content;
    border: solid rgb(10, 10, 9) 2px;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "projects anouncements"
                         "projects trendings";
}


.header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    
}
/*
header * {
    border: solid darkred 1px;
}
*/
img {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
}

.left {
   /* display: grid;
    grid-template-columns : repeat(auto-fit, minmax(20px, 1fr));
    place-items: center;  */
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    margin-left: 1.5rem;
}


.right {
   /* display: grid;
    grid-template-columns : repeat(auto-fit, minmax(20px, 1fr));
    place-items: center;  */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;

    margin-right: 1.5rem;
}

.left > * {
    display:inline;
}


.right > *, .right > div{
    display:inline;
}


.info {
    align-self: center;
}


.top {
    margin-top: 10px;
}

.bottom {
    margin-right: 2.5rem;
}

input {
    width: min-content;
    flex: 1;
    border-radius: 10px;
}

button {
    font-size: 1.5rem;
    
    border-radius: 12px;
}


#profile {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


.projects {
    grid-area: projects;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.anouncements {
    grid-area: anouncements;
}

.trendings {
    grid-area: trendings;
}

.projects article {
    border: dotted goldenrod 2px;
}