* {
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "sidebar header header header header"
                         "sidebar content content content content"
                         "sidebar content content content content";
    grid-template-rows: 1fr 3fr;
    place-content: stretch;
    gap: 5px;
    height: 100%;
}

header {
    grid-area: header;
    background-color: aliceblue;

    display: grid;
   /* grid-template-columns: 100%; */
    border-bottom: solid black 2px;
}

.sidebar {
    grid-area: sidebar;

    display: grid;
}

.content {
    grid-area: content;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements";
    height:max-content;
    margin: 1.5rem;
    
}


.header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    
}
/*
header * {
    border: solid darkred 1px;
}
*/
img {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
}

.left {
   /* display: grid;
    grid-template-columns : repeat(auto-fit, minmax(20px, 1fr));
    place-items: center;  */
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    margin-left: 1.5rem;
}


.right {
   /* display: grid;
    grid-template-columns : repeat(auto-fit, minmax(20px, 1fr));
    place-items: center;  */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;

    margin-right: 1.5rem;
}

.left > * {
    display:inline;
}


.right > *, .right > div{
    display:inline;
}


.info {
    align-self: center;
}


.top {
    margin-top: 10px;
}

.bottom {
    margin-right: 2.5rem;
}

input {
    width: min-content;
    flex: 1;
    border-radius: 10px;
}

button {
    font-size: 1.5rem;
    
    border-radius: 12px;
}


#profile {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}


.projects {
    grid-area: projects;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: "title title"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject";
}

.anouncements {
    grid-area: anouncements;

    display: grid;
}



.myprojects article {
    background-color: rgb(184, 238, 238);
    padding: 1rem;
}

/* Sidebar    */


/*
#dashboard {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(7%, 1fr));
   place-content: center;
   max-height: max-content;
}

#dashboard div {
    align-self: center;
    justify-self: start;
    margin-left: -3.5rem;
    font-size: 2rem;
    font-weight: 900;
}

#dashboard img {
    justify-self: center;
    margin-left: -2.5rem;
    height: 50px;
    width: 50px;
}

li {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7%, 1fr));
    margin-bottom: 1rem;
    max-height: max-content;
}


li div{
    align-self: center;
    justify-self: start;
   margin-left: -4.5rem;
} */

#dashboard {
    margin-left: -1.5rem;
   }
 
 #dashboard div {
    font-weight: 900;
    font-size: 1.5rem;

 }
 
 #dashboard img {
 
     height: 40px;
     width: 40px;
 }
 
.sidebar ul {
    display:grid;
    grid-template-columns:80%;
    gap: .1rem;
    margin-bottom: 1.8rem;
 }

.sidebar li {
 list-style: none;
 display:flex;
}

li img {
 display:inline;
 align-self:center;
 margin-right: .5rem;
}
 
 
 li div{
     display:inline;
     text-align:center;
      align-self:center
 }

 /*  Projects   */
 
 .title {
    grid-area: title;
    margin-bottom: 1rem;
 }

 .myprojects {
    grid-area: myproject;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
 }

 .myprojects article{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .myprojects article div {
    

 }

.pages {
    flex: 2;
}

 .pages img, .pages video {
    height: 100%;
    width: 100%;
    border-radius: 0px;
 }

 .links {
    display: flex;
    justify-content: flex-end;
 }


 /* Anouncements and trendings  */

 menu {
    display: grid;
    justify-content: stretch;
    row-gap: 2rem;
 }

 menu ul {
    display:grid;
    grid-template-columns:80%;
    row-gap: .1rem;
    margin-bottom: 1.8rem;
 }

 menu ul li {
    align-self: center;
    list-style: none;

 }

 h3 {
    margin-left: -1.5rem;
    font-size: 1.2rem;
 }


