* {
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "sidebar header header header header"
                         "sidebar content content content content"
                         "sidebar content content content content";
    grid-template-rows: 1fr 3fr;
    place-content: stretch;
    gap: 5px;
    height: 100%;

    background-color: aliceblue;
}

header {
    grid-area: header;
    background-color: white;
    border-bottom: .6rem solid rgb(7, 7, 55);

    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.sidebar {
    grid-area: sidebar;

    display: grid;
    background-color: rgb(7, 7, 55);
    color: aliceblue;
}

.content {
    grid-area: content;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-areas: "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements"
                         "projects projects projects anouncements";
    height:max-content;
    margin: 1.5rem;

    color: rgb(7, 7, 55);
    
}


/*  Header */

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    color: rgb(7, 7, 55);
}

img {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
}

.left {
    display: grid;
    grid-template-columns : repeat(2, 1fr);
    align-items: center;  
    margin-right: auto;
    gap: 1rem;
   /* display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    margin-left: 1.5rem; */
}

.left p {
    justify-self: left;
    font-weight: 700;
}


.right {
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    place-items: center; 
    gap: 1rem; 
    margin-left: auto;
    margin-right: 2rem;
  /*  display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;

    margin-right: 1.5rem; */
}

.left > * {
    display:inline;
}


.right > *, .right > div{
    display:inline;
}

.right p {
    font-weight: 700;
}


label {
    justify-self: end;
    font-size: 1.2rem;
    font-weight: 700;
}

input {
    height: 30%;
    border-radius: .8rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(241, 8, 8, 0.284);
    background-color: rgb(7, 7, 55);
    color: azure;
    font-size: 1.2rem;
    justify-self: left;
}

button {
    font-size: 1.1rem;
    padding: .5rem;
    background-color: rgb(7, 7, 55);
    color: aliceblue;
    border-radius: .8rem;
    
}

button:hover {
    text-shadow: 1px 1px aliceblue;
    border: solid 2px aliceblue;
}


#profile {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    justify-self: end;
}


/* Sidebar    */


#dashboard {
    margin-left: -1.5rem;
   }
 
#dashboard div {
    font-weight: 900;
    font-size: 1.5rem;

 }
 
 #dashboard img {
    background-color: white;
     height: 40px;
     width: 40px;
 }
 
.sidebar ul {
    display:grid;
    grid-template-columns:80%;
    gap: .1rem;
    margin-bottom: 1.8rem;
 }

.sidebar li {
 list-style: none;
 display:flex;
}

.sidebar li img {
 display:inline;
 align-self:center;
 margin-right: .5rem;
 background-color: rgb(255, 255, 255);
 padding: .3rem;
}
 
 
 .sidebar li div{
     display:inline;
     text-align:center;
      align-self:center
 }

 .sidebar li:hover {
    text-shadow: 1px 1px aliceblue;
 }

 .sidebar li img:hover {
    box-shadow: 1px 1px 10px rgb(11, 122, 220);
 }


 /*  Projects   */
 

.projects {
    grid-area: projects;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: "title title"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject"
                         "myproject myproject";
}


 
 .title {
    grid-area: title;
    margin-bottom: 1rem;
 }

 .myprojects {
    grid-area: myproject;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
 }

 .myprojects article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 1px 5px rgb(7, 7, 55, .5);
    border-radius: .9rem;
    background-color: white;
    padding: 1rem;
 }
 

.pages {
    flex: 2;
}

 .pages img, .pages video {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
 }

 .links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
 }


 /* Anouncements and trendings  */


 .anouncements {
    grid-area: anouncements;

    display: grid;
}

 menu {
    display: grid;
    justify-content: stretch;
    row-gap: 2rem;
 }

 menu ul {
    display:grid;
    grid-template-columns:80%;
    row-gap: .1rem;
    margin-bottom: 1.8rem;
    background-color: white;
    box-shadow: 1px 1px 15px rgb(0, 0, 0, .5);
    border-radius: .9rem;
    color: rgb(7, 7, 55);
 }

 menu ul li {
    align-self: center;
    list-style: none;

    display: flex;
    gap: .5rem;
 }

 menu li img {
    border-radius: 0px;
    height: 40px;
    width: 40px;
    border: solid 2px rgb(7, 7, 55);
 }



 h3 {
    margin-left: -1.5rem;
    font-size: 1.2rem;
 }


